<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>活动赛事-演讲-详情</title>
    <link rel="stylesheet" href="/static/css/public-style.css">
    <link rel="stylesheet" href="/static/css/activity-speech-detail.css">
</head>
<body>
    <section class="outer-container nav-outer-container">
        <nav class="inner-container">
            <ul class="nav-links">
                <li>
                    <a href="/home/index">首页</a>
                </li>
                <li>
                    <a href="/home/activity">活动赛事</a>
                </li>
                <li>
                    <a href="/home/album">精彩图库</a>
                </li>
                <li>
                    <a href="/home/download">下载专区</a>
                </li>
                <li>
                    <a href="#">文峰青年大讲堂</a>
                </li>
                <li>
                    <a href="#">学生科技节</a>
                </li>
                <li>
                    <a href="#">重邮青年说</a>
                </li>
            </ul>
            <ul class="nav-about">
                <li>
                    <a href="/home/speak">我语科联</a>
                </li>
                <li>
                    <a href="#">关于我们</a>
                </li>
            </ul>
        </nav>
    </section>
    <header class="outer-container search-outer-container">
        <div class="inner-container">
            <div class="title-img"></div>
                <span class="title">
                    活动赛事
                </span>
            <form action="get" class="search-form">
                <div class="search-wrapper">
                    <input type="text" placeholder="文峰青年大讲堂">
                </div>
                <div class="search-btn">
                    <input type="button">
                </div>
            </form>
        </div>
    </header>
    <section class="outer-container main-outer-container">
        <div class="inner-container">
            <div class="main-left">
                <p class="location">
                    首页>赛事活动>【设计】软件设计大赛
                </p>
                <div class="info">
                    <img src="<%= data.detail[0].hd_cover%>" class="info-img">
                    <div class="info-content">
                        <p class="title"><%= data.detail[0].hd_title%></p>
                        <p class="msg">地点: <%= data.detail[0].hd_place%></p>
                        <p class="msg">时间: <%= data.detail[0].hd_time%></p>
                        <p class="msg">抢票地点: <%= data.detail[0].hd_getTicket_time%></p>
                        <p class="msg">宣讲培训: <%= data.detail[0].hd_peixun%></p>
                        <p class="msg">主办单位: <%= data.detail[0].hd_unit%></p>
                        <p class="msg tags">标签: <%= data.detail[0].hd_tags%></p>
                    </div>
                </div>
                <div class="intro">
                    <p class="intro-title">活动详情</p>
                    <p class="intro-content">

                    </p>

                </div>
                <div class="intro lecturer">
                    <p class="intro-title">主讲人介绍</p>
                    <img src="<%= data.detail[0].hd_speechmaker%>" class="lecturer-img">
                    <p class="lecturer-detail">

                    </p>
                </div>
                <div class="intro links">
                    <p class="intro-title">相关文章链接</p>
                    <% data.related.forEach(function(item){ %>
                    <p class="links-item">
                        <span class="link-for"><%= item.related_type%>： </span>
                        <a href="<%= item.related_url%>"><%= item.related_title%></a>
                    </p>
                    <%})%>
                </div>
            </div>
            <aside class="main-right">
                <div class="right-wrapper">
                    <p class="title">热门活动</p>
                    <div class="right-wrapper-inner">
                        <% data.hotAct.forEach(function(item){ %>
                        <div class="now-item">
                            <img src="<%=item.hd_cover%>" class="now-img">
                            <div class="now-content">
                            <%if(item.hd_type == '竞赛'){%>
                                <a href="/home/activity/competition_detail?id=<%= item.id%>" class="title"><%=item.hd_title%></a>
                            <%}else{%>
                                <a href="/home/activity/speech_detail?id=<%= item.id%>" class="title"><%=item.hd_title%></a>
                            <%}%>
                                <span class="tag"><%= item.hd_tags.replace(/\s+/g, " ").split(" ")[0]%></span>
                                <p class="words">抢票时间: <%=item.hd_getTicket_time%></p>
                                <p class="words">抢票地点: <%=item.hd_getTicket_place%></p>
                                <div class="detail">
                                    <%if(item.hd_type == '竞赛'){%>
                                    <a href="/home/activity/competition_detail?id=<%= item.id%>" class="title">查看详情</a>
                                <%}else{%>
                                    <a href="/home/activity/speech_detail?id=<%= item.id%>" class="title">查看详情</a>
                                <%}%>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <div class="right-wrapper">
                    <p class="title">热门活动推荐</p>
                    <div class="right-wrapper-inner">
                        <p class="hot-item">
                            <a href="#">第二届全国高校物联网创新应用大赛</a>
                        </p>
                        <p class="hot-item">
                            <a href="#">第二届全国高校物联网创新应用大赛</a>
                        </p>
                        <p class="hot-item">
                            <a href="#">第二届全国高校物联网创新应用大赛</a>
                        </p>
                        <p class="hot-item">
                            <a href="#">第二届全国高校物联网创新应用大赛</a>
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </section>
<div class="outer-container page-outer-container">
    <div class="inner-container">

    </div>
</div>
<div class="outer-container footer-outer-container">
    <div class="inner-container">
        <div class="links-container">
            <ul>
                <li>关于</li>
                <li>
                    <a href="#">关于科联</a>
                </li>
                <li>
                    <a href="#">各部门介绍</a>
                </li>
                <li>
                    <a href="#">版权声明</a>
                </li>
                <li>
                    <a href="#">网站地图</a>
                </li>
            </ul>
            <ul>
                <li>板块</li>
                <li>
                    <a href="#">科联活动</a>
                </li>
                <li>
                    <a href="#">赛事赛讯</a>
                </li>
                <li>
                    <a href="#">我语科联</a>
                </li>
                <li>
                    <a href="#">科联相册</a>
                </li>
                <li>
                    <a href="#">教程专区</a>
                </li>
                <li>
                    <a href="#">青年大讲堂</a>
                </li>
                <li>
                    <a href="#">挑战杯</a>
                </li>
            </ul>
            <ul>
                <li>联系</li>
                <li>
                    <a href="#">在线反馈</a>
                </li>
                <li>
                    <a href="#">联系我们</a>
                </li>
            </ul>
            <ul>
                <li>链接</li>
                <li>
                    <a href="#">网址大全</a>
                </li>
                <li>
                    <a href="#">教务在线</a>
                </li>
                <li>
                    <a href="#">教务信息网</a>
                </li>
                <li>
                    <a href="#">博看畅销周刊</a>
                </li>
                <li>
                    <a href="#">重邮PT基站</a>
                </li>
                <li>
                    <a href="#">团委</a>
                </li>
            </ul>
            <ul>
                <li>
                    &nbsp
                </li>
                <li>
                    <a href="#">大学生比赛信息网</a>
                </li>
                <li>
                    <a href="#">松鼠科学会</a>
                </li>
                <li>
                    <a href="#">知乎</a>
                </li>
                <li>
                    <a href="#">果壳科技</a>
                </li>
            </ul>
        </div>
        <div class="qrcode-container">
            <div class="qrcode-item">
                <div class="qrcode"></div>
                <p class="qrcode-intro">
                    学生科技联合会
                </p>
                <p class="qrcode-intro">
                    微信二维码
                </p>
            </div>
            <div class="qrcode-item">
                <div class="qrcode"></div>
                <p class="qrcode-intro">
                    重邮小帮手
                </p>
                <p class="qrcode-intro">
                    微信二维码
                </p>
            </div>
        </div>
        <p class="manage-links">
            <a href="#">内务信息</a>
            <span> | </span>
            <a href="#">后台管理</a>
        </p>
        <p class="manage-links">
            Copyright © SSTU All Rights Reserved  &nbsp&nbsp 重庆邮电大学学生科技联合会版权所有
        </p>
        <p class="manage-links">
            Powered by Redrock Team
        </p>
    </div>
</div>
<script src="/static/js/jquery-3.1.0.min.js"></script>
<script>
!function(){
    var a = "<%= data.detail[0].hd_detail%>";
    var b = a.replace(/\&gt;/g, '>');
    var c = b.replace(/\&lt;/g, '<');
    var n = c.replace(/\&#34;/g, '"');
    $( $('.intro-content')[0] ).html(n);
    var e = "<%= data.detail[0].hd_compere%>";
    var f = e.replace(/\&gt;/g, '>');
    var g = f.replace(/\&lt;/g, '<');
    var h = g.replace(/;\&#34/g, '"');
    $( $('.lecturer-detail')[0] ).html(h);
    console.log(n);
}()
</script>
</body>
</html>
