<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>活动赛事-竞赛-列表</title>
    <link rel="stylesheet" href="/static/css/public-style.css">
    <link rel="stylesheet" href="/static/css/activity-search.css">
</head>
<body>
    <section class="outer-container nav-outer-container">
        <nav class="inner-container">
            <ul class="nav-links">
                <li>
                    <a href="/home/index">首页</a>
                </li>
                <li>
                    <a href="/home/activity">活动赛事</a>
                </li>
                <li>
                    <a href="/home/album">精彩图库</a>
                </li>
                <li>
                    <a href="/home/download">下载专区</a>
                </li>
                <li>
                    <a href="#">文峰青年大讲堂</a>
                </li>
                <li>
                    <a href="#">学生科技节</a>
                </li>
                <li>
                    <a href="#">重邮青年说</a>
                </li>
            </ul>
            <ul class="nav-about">
                <li>
                    <a href="/home/speak">我语科联</a>
                </li>
                <li>
                    <a href="#">关于我们</a>
                </li>
            </ul>
        </nav>
    </section>
    <header class="outer-container search-outer-container">
        <div id="header-row" class="inner-container">
            <div class="title-img"></div>
                <span class="title">
                    搜索结果
                </span>
            <form action="get" class="search-form">
                <div class="search-wrapper">
                    <input type="text" placeholder="文峰青年大讲堂">
                </div>
                <div class="search-btn">
                    <input type="button">
                </div>
            </form>
        </div>
    </header>
    <section class="outer-container main-outer-container">
        <div class="inner-container">
            <div class="main-left">
                <div class="activity-container left-wrapper">
                    <% data.like.forEach(function(item){ %>
                    <div class="activity-item">
                        <img src="<%= item.hd_cover%>" class="activity-img">
                        <div class="activity-content">
                            <a href="#" class="title"><%= item.hd_title%></a>
                            <p class="content">
                                <%= item.hd_detail%>
                            </p>
                            <p class="tags">
                                <span>
                                    <i class="iconfont icon-time">&#xe77a;</i>
                                    <%= item.hd_time%>
                                </span>
                                <span>
                                    <i class="iconfont icon-time">&#xe663;</i>
                                    <%= item.hd_place%>
                                </span>
                                <span>
                                    <i class="iconfont icon-time">&#xe61b;</i>
                                    <%= item.hd_type%>
                                </span>
                            </p>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <aside class="main-right">
                <div class="right-wrapper">
                    <p class="title">热门活动</p>
                    <div class="right-wrapper-inner">
                        <% data.hotAct.forEach(function(item){ %>
                        <div class="now-item">
                            <img src="<%=item.hd_cover%>" class="now-img">
                            <div class="now-content">
                                <%if(item.hd_type == '竞赛'){%>
                                    <a href="/home/activity/competition_detail?id=<%= item.id%>" class="title"><%=item.hd_title%></a>
                                <%}else{%>
                                    <a href="/home/activity/speech_detail?id=<%= item.id%>" class="title"><%=item.hd_title%></a>
                                <%}%>
                                <span class="tag"><%=item.hd_tags.replace(/\s+/g, " ").split(" ")[0]%></span>
                                <p class="words">抢票时间: <%=item.hd_getTicket_time%></p>
                                <p class="words">抢票地点: <%=item.hd_getTicket_place%></p>
                                <div class="detail">
                                    <%if(item.hd_type == '竞赛'){%>
                                    <a href="/home/activity/competition_detail?id=<%= item.id%>" class="title">查看详情</a>
                                <%}else{%>
                                    <a href="/home/activity/speech_detail?id=<%= item.id%>" class="title">查看详情</a>
                                <%}%>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <div class="right-wrapper">
                    <p class="title">热门活动推荐</p>
                    <div class="right-wrapper-inner">
                        <% data.hotAct.forEach(function(item){ %>
                        <p class="hot-item">
                             <%if(item.hd_type == '竞赛'){%>
                                    <a href="/home/activity/competition_detail?id=<%= item.id%>"><%=item.hd_title%></a>
                                <%}else{%>
                                    <a href="/home/activity/speech_detail?id=<%= item.id%>"><%=item.hd_title%></a>
                                <%}%>
                        </p>
                        <%})%>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <footer class="outer-container footer-outer-container">
        <div class="inner-container">
            <div class="links-container">
                <ul>
                    <li>关于</li>
                    <li>
                        <a href="#">关于科联</a>
                    </li>
                    <li>
                        <a href="#">各部门介绍</a>
                    </li>
                    <li>
                        <a href="#">版权声明</a>
                    </li>
                    <li>
                        <a href="#">网站地图</a>
                    </li>
                </ul>
                <ul>
                    <li>板块</li>
                    <li>
                        <a href="#">科联活动</a>
                    </li>
                    <li>
                        <a href="#">赛事赛讯</a>
                    </li>
                    <li>
                        <a href="#">我语科联</a>
                    </li>
                    <li>
                        <a href="#">科联相册</a>
                    </li>
                    <li>
                        <a href="#">教程专区</a>
                    </li>
                    <li>
                        <a href="#">青年大讲堂</a>
                    </li>
                    <li>
                        <a href="#">挑战杯</a>
                    </li>
                </ul>
                <ul>
                    <li>联系</li>
                    <li>
                        <a href="#">在线反馈</a>
                    </li>
                    <li>
                        <a href="#">联系我们</a>
                    </li>
                </ul>
                <ul>
                    <li>链接</li>
                    <li>
                        <a href="#">网址大全</a>
                    </li>
                    <li>
                        <a href="#">教务在线</a>
                    </li>
                    <li>
                        <a href="#">教务信息网</a>
                    </li>
                    <li>
                        <a href="#">博看畅销周刊</a>
                    </li>
                    <li>
                        <a href="#">重邮PT基站</a>
                    </li>
                    <li>
                        <a href="#">团委</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        &nbsp
                    </li>
                    <li>
                        <a href="#">大学生比赛信息网</a>
                    </li>
                    <li>
                        <a href="#">松鼠科学会</a>
                    </li>
                    <li>
                        <a href="#">知乎</a>
                    </li>
                    <li>
                        <a href="#">果壳科技</a>
                    </li>
                </ul>
            </div>
            <div class="qrcode-container">
                <div class="qrcode-item">
                    <div class="qrcode"></div>
                    <p class="qrcode-intro">
                        学生科技联合会
                    </p>
                    <p class="qrcode-intro">
                        微信二维码
                    </p>
                </div>
                <div class="qrcode-item">
                    <div class="qrcode"></div>
                    <p class="qrcode-intro">
                        重邮小帮手
                    </p>
                    <p class="qrcode-intro">
                        微信二维码
                    </p>
                </div>
            </div>
            <p class="manage-links">
                <a href="#">内务信息</a>
                <span> | </span>
                <a href="#">后台管理</a>
            </p>
            <p class="manage-links">
                Copyright © SSTU All Rights Reserved  &nbsp&nbsp 重庆邮电大学学生科技联合会版权所有
            </p>
            <p class="manage-links">
                Powered by Redrock Team
            </p>
        </div>
    </footer>


    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/activity-search.js"></script>
    <script src="/static/js/activity-search.js"></script>
</body>
</html>
