<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>精彩图集</title>
	<link rel="stylesheet" href="/static/css/glob.css">
	<link rel="stylesheet" href="/static/css/imageF.css">
<body>
	<div id="showpic" style="display: none; background:url(); background-repeat: no-repeat; background-size: 100% 100%"></div>
	<div id="head">
		<div class="top-menu">
			<ul>
				<li><a href="/home/index">首页</a></li>
				<li><a href="/home/activity">活动赛事</a></li>
				<li><a href="/home/album">精彩图库</a></li>
				<li><a href="/home/download">下载专区</a></li>
				<li><a href="##">文峰青年大讲堂</a></li>
				<li><a href="##">学生科技节</a></li>
				<li><a href="##">重邮青年说</a></li>
				<li  id="right"><a href="/home/speak">我语科联</a></li>
				<li  id="right"><a href="#">关于我们</a></li>
			</ul>
		</div>
		<div class="top-search">
			<div class="top-search-con">
				<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAiCAYAAAC0nUK+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABTElEQVRIx8WWwXWDMBBE//rlHjowHcQdhBIoISVQgktwOnAJLkHugFQQ0oFcweRg4RCCAFvwMsdd+LsaLUIASHqTVLCwTFIOfAJnM7urQGhoB+SABxozO3Yf2OuqRlI2E5pLchpWExr+BZckP2VPsHBKbgh+S0oqZ4JPknYh33TiJZKKqS5CA4NNdApXvdzeQsIBrw8MxBfQhA3d9nLnFp4BDnh5oEBM5w2AmXmgAN4XhNd/ImEPnNLkb+M4pIQibhTcKTBnphVG8Ngf36cJfhmJfwBV623Ys/sUvBvSYc77mzHPgedI2iXBuZ52MdVrwS9m1qTC85Su/xW+jcT9EvCYXBK8PfxTFes8WxM+Jr8a3MzqNTufrRg8unTNvNuMauTsLpaw5bKWLXDHZ/4I/BSJF0vAjyRaE4WH/2KVZsyEJJX6uWB6DVxQY/oGkdY83wwqxu8AAAAASUVORK5CYII=">
				<span>图库</span>
				<div class="search">
					<input type="text">
					<button></button>
			  </div>
			</div>
		</div>
		<div class="top-page">
			<ul>
				<li><a href="##">相册推荐</a></li>
				<li><a href="##">重邮美景</a></li>
				<li><a href="##">讲座宣讲</a></li>
				<li><a href="##">科技竞赛</a></li>
				<li><a href="##">活动展览</a></li>
				<li><a href="##">内部活动</a></li>
				<li><a href="##">趣味科技</a></li>
				<li><a href="##">文峰青年大讲堂</a></li>
			</ul>
		</div>
	</div>
	<div id="main-con">
		<div class="top-info">
			<div class="top-img"></div>
			<p class="top-img-info"><%= data.album[0].album_name%>
				<span> /<%= data.album[0].album_pages%></span>
				<br><br>
			</p>
		</div>
		<div class="img-con">
		<%data.pic.forEach(function(item){%>
			<div class="img-home">
				<div class="img" style="background:url(<%= item.pic_url%>) no-repeat; background-size: 100% 100%" ></div>
				<span><%= item.pic_name%></span>
				<span class="likes"><%= item.pic_likes%></span>
				<span class="taoxin" id="<%= item.id%>"></span>
			</div>
			<%})%>
		</div>
	</div>
	<div id="bottom">
		<div class="bottom-con">
			<ul>
				<li><a href="" id="f-title">关于</a></li>
				<li><a href="##">关于我们</a></li>
				<li><a href="##">各部门介绍</a></li>
				<li><a href="##">版权声明</a></li>
				<li><a href="##">网站地图</a></li>
			</ul>
			<ul>
				<li><a href="" id="f-title">版权</a></li>
				<li><a href="##">科联活动</a></li>
				<li><a href="##">赛事资讯</a></li>
				<li><a href="##">我语科联</a></li>
				<li><a href="##">科联相册</a></li>
				<li><a href="##">教程专区</a></li>
				<li><a href="##">青年大讲堂</a></li>
				<li><a href="##">挑战杯</a></li>
			</ul>
			<ul>
				<li><a href="" id="f-title">联系</a></li>
				<li><a href="##">在线反馈</a></li>
				<li><a href="##">联系我们</a></li>
			</ul>
			<ul>
				<li><a href="" id="f-title">链接</a></li>
				<li><a href="##">网址大全</a></li>
				<li><a href="##">教务在线</a></li>
				<li><a href="##">校务信息网</a></li>
				<li><a href="##">博看畅销期刊</a></li>
				<li><a href="##">重邮PT基站</a></li>
				<li><a href="##">团委</a></li>
			</ul>
			<ul>
				<li><a href="##">大学生比赛信息网</a></li>
				<li><a href="##">科技松鼠会</a></li>
				<li><a href="##">知乎</a></li>
				<li><a href="##">果壳科技</a></li>
			</ul>
			<div class="erweima">
				<div class="xiaobangshou"></div>
				<p>红岩网校小帮手二维码</p>
			</div>
			<div class="erweima erweima-right">
				<div class="kelian"></div>
				<p>学生科技联合会二维码</p>
			</div>
			<p class="bottom-info">
				<a href="">内无信息</a>
				<span> | </span>
				<a href="">后台管理</a>
				</p>
			<p class="bottom-info">Copyright © SSTU All Rights Reserved    重庆邮电大学学生科技联合会版权所有</p>
			<p class="bottom-info">Powered by Redcock Team</p>
		</div>
	</div>
	<script src="/static/js/jquery-3.1.0.min.js"></script>
	<script src="/static/js/album-search.js"></script>
	<script>
	!function(){
		function hidePic(){
			$('#showpic').css({
				"display": "none",
			});
			$('.img').on('click', showpic);
			$("body").off('click', hidePic);
		}

		function showpic(e){
			var tar = $(e.target);
			var img = tar.css("background-image");
			$('#showpic').css({
				"display": "block",
				"background-image": img
			});

			$('.img').off('click', showpic);

			setTimeout(function(){
				$("body").on('click', hidePic);
			},200)
		}
		$('.img').on('click', showpic)

		$('.taoxin').on('click', function(e){
			var target = e.target;
			var id = $(target).attr('id');
			$.ajax({
			  type: 'GET',
			  url: '/home/album/vote?id='+id,
			  dataType: 'json',
			  timeout: 300,
			  success: function(data){
			  	var html = $(target).prev().html();
			  	$(target).prev().html(++html);
			    alert('投票成功')
			  },
			  error: function(xhr, type){
			    alert('投票失败')
			  }
			})
		})

		
	}()
	</script>
</body>
</html>
</html>