<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我语科联</title>
	<link rel="stylesheet" href="../static/css/glob.css">
	<link rel="stylesheet" href="../static/css/public-style.css">
	<link rel="stylesheet" href="../static/css/speak.css">
</head>
<body>
	<div id="head">
		<div class="top-menu">
			<ul>
				<li><a href="/home/index">首页</a></li>
				<li><a href="/home/activity">活动赛事</a></li>
				<li><a href="/home/album">精彩图库</a></li>
				<li><a href="/home/download">下载专区</a></li>
				<li><a href="##">文峰青年大讲堂</a></li>
				<li><a href="##">学生科技节</a></li>
				<li><a href="##">重邮青年说</a></li>
				<li  id="right"><a href="/home/speak">我语科联</a></li>
				<li  id="right"><a href="#">关于我们</a></li>
			</ul>
		</div>
		<div class="top-search">
			<div class="top-search-con">
				<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABN0lEQVRIx9WTzSpEYRjHf+802I2VFbGg8VF2FhTFLbgEl+AS3IOdLK0pOyml2IiSkOxoSsbHYlbEz+YcHTRz3sPMwr/e3f/reXueQBuhDgJ9QA/wDNy1w3Re3VCf/InHvxhX1C1b47D8S/NeYB+YzKEeltUy8Ao8JO8aOAI2QwgnTYSrEeYA26jdLUY8Uxe/tZ9Q383HrVpKRY0c8rranXBXIsxVl7OtTiIEawl3L4J7mhZKA1YjW82qtRxOTR35vhWzkQHp3zbDjjqU9Q6ZkANgJmIz5oAGMA30AxXgBthtsXWgVtV6xARLRW6m9DlKCFdJu+MczWiRgC+XHEK4UKeSoAVgAHgD7oFzYAMYKxJQCMkXXXY64EXtitWUYokZdAHDnQwAqHY6YPzfT1DoFqKRueZ6rOYDO2VHfhDjZR0AAAAASUVORK5CYII=">
				<span>我语科联</span>
				<div class="search">
					<input type="text">
					<button></button>
			  </div>
			</div>
		</div>
		<div class="top-page">
			<ul>
				<li><a href="##">最近上传</a></li>
				<li><a href="##">综合部</a></li>
				<li><a href="##">项目管理部</a></li>
				<li><a href="##">科技人文部</a></li>
				<li><a href="##">科创竞赛部</a></li>
				<li><a href="##">信息部</a></li>
				<li><a href="##">媒体运营部</a></li>
			</ul>
		</div>
	</div>
	<div class="main-con-top">
	</div>

	<div class="main-con" id="no-margin">
		<span class="title mian-title">文章标题</span>
		<span>时间</span>
		<span>浏览</span>
		<span>赞</span>

		<% data.getArticle.data.forEach(function (item) { %>
		<div class="main-con-item">
			<span class="logo"><%=item.atc_type %></span>
			<span class="title speak-per-title"><%=item.atc_title %></span>
			<span><%=item.atc_time %></span>
			<span><%=item.atc_view %></span>
			<span><%=item.atc_likes %></span>
			<span class="content"><%=item.atc_likes %></span>
		</div>
		<% }) %>

	</div>

	<section class="outer-container page-outer-container">
        <div class="inner-container">
            <span class="page-btn">
                <a class="prev" id="prev">上一页</a>
            </span>

			<span class="page-btn page-redirect">
                <a class="pager">1</a>
            </span>
			<span class="page-btn page-redirect">
                <a class="pager">2</a>
            </span>
			<span class="page-btn page-redirect">
                <a class="pager">3</a>
            </span>
			<span class="page-btn page-redirect">
                <a class="pager">4</a>
            </span>
			<span class="page-btn page-redirect">
                <a class="pager">5</a>
            </span>

			<span class="page-btn">
                <a class="next" id="next">下一页</a>
            </span>
            <span>转到</span>
            <span class="page-btn">
                <input type="text" class="page-input" id="page-input">
            </span>
            <input type="button" class="page-go" value="go" id="page-go">
			<span id="total-page" style="display: none">
				<%= data.getArticle.totalPages%>
			</span>
			<span id="current-page" style="display: none">
				<%= data.getArticle.currentPage%>
			</span>
        </div>
    </section>

	<div id="bottom">
		<div class="bottom-con">
			<ul>
				<li><a href="" id="f-title">关于</a></li>
				<li><a href="##">关于我们</a></li>
				<li><a href="##">各部门介绍</a></li>
				<li><a href="##">版权声明</a></li>
				<li><a href="##">网站地图</a></li>
			</ul>
			<ul>
				<li><a href="" id="f-title">版权</a></li>
				<li><a href="##">科联活动</a></li>
				<li><a href="##">赛事资讯</a></li>
				<li><a href="##">我语科联</a></li>
				<li><a href="##">科联相册</a></li>
				<li><a href="##">教程专区</a></li>
				<li><a href="##">青年大讲堂</a></li>
				<li><a href="##">挑战杯</a></li>
			</ul>
			<ul>
				<li><a href="" id="f-title">联系</a></li>
				<li><a href="##">在线反馈</a></li>
				<li><a href="##">联系我们</a></li>
			</ul>
			<ul>
				<li><a href="" id="f-title">链接</a></li>
				<li><a href="##">网址大全</a></li>
				<li><a href="##">教务在线</a></li>
				<li><a href="##">校务信息网</a></li>
				<li><a href="##">博看畅销期刊</a></li>
				<li><a href="##">重邮PT基站</a></li>
				<li><a href="##">团委</a></li>
			</ul>
			<ul>
				<li><a href="##">大学生比赛信息网</a></li>
				<li><a href="##">科技松鼠会</a></li>
				<li><a href="##">知乎</a></li>
				<li><a href="##">果壳科技</a></li>
			</ul>
			<div class="erweima">
				<div class="xiaobangshou"></div>
				<p>红岩网校小帮手二维码</p>
			</div>
			<div class="erweima erweima-right">
				<div class="kelian"></div>
				<p>学生科技联合会二维码</p>
			</div>
			<p class="bottom-info">
				<a href="">内无信息</a>
				<span> | </span>
				<a href="">后台管理</a>
				</p>
			<p class="bottom-info">Copyright © SSTU All Rights Reserved    重庆邮电大学学生科技联合会版权所有</p>
			<p class="bottom-info">Powered by Redcock Team</p>
		</div>
	</div>

	<script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="../static/js/speak.js"></script>
</body>
</html>
