<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我语科联-办公室</title>
	<link rel="stylesheet" href="../static/css/glob.css">
	<link rel="stylesheet" href="../static/css/downLoad.css">
</head>
<body>
	<div id="head">
		<div class="top-menu">
			<ul>
				<li><a href="/home/index">首页</a></li>
				<li><a href="/home/activity">活动赛事</a></li>
				<li><a href="/home/album">精彩图库</a></li>
				<li><a href="/home/download">下载专区</a></li>
				<li><a href="##">文峰青年大讲堂</a></li>
				<li><a href="##">学生科技节</a></li>
				<li><a href="##">重邮青年说</a></li>
				<li  id="right"><a href="/home/speak">我语科联</a></li>
				<li  id="right"><a href="#">关于我们</a></li>
			</ul>
		</div>
		<div class="top-search">
			<div class="top-search-con">
				<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABN0lEQVRIx9WTzSpEYRjHf+802I2VFbGg8VF2FhTFLbgEl+AS3IOdLK0pOyml2IiSkOxoSsbHYlbEz+YcHTRz3sPMwr/e3f/reXueQBuhDgJ9QA/wDNy1w3Re3VCf/InHvxhX1C1b47D8S/NeYB+YzKEeltUy8Ao8JO8aOAI2QwgnTYSrEeYA26jdLUY8Uxe/tZ9Q383HrVpKRY0c8rranXBXIsxVl7OtTiIEawl3L4J7mhZKA1YjW82qtRxOTR35vhWzkQHp3zbDjjqU9Q6ZkANgJmIz5oAGMA30AxXgBthtsXWgVtV6xARLRW6m9DlKCFdJu+MczWiRgC+XHEK4UKeSoAVgAHgD7oFzYAMYKxJQCMkXXXY64EXtitWUYokZdAHDnQwAqHY6YPzfT1DoFqKRueZ6rOYDO2VHfhDjZR0AAAAASUVORK5CYII=">
				<span>我语科联</span>
				<div class="search">
					<input type="text">
					<button></button>
			  </div>
			</div>
		</div>
		<div class="top-page">
			<ul>
				<li><a href="##">最近上传</a></li>
				<li><a href="##">综合部</a></li>
				<li><a href="##">项目管理部</a></li>
				<li><a href="##">科技人文部</a></li>
				<li><a href="##">科创竞赛部</a></li>
				<li><a href="##">信息部</a></li>
				<li><a href="##">媒体运营部</a></li>
			</ul>
		</div>
	</div>
	<div class="main-con-top-apartment">
	</div>
	<div class="main-con" id="no-margin">
		<span class="title mian-title">文章标题</span>
		<span>时间</span>
		<span>浏览</span>
		<span>赞</span>

		<span class="line"></span>
		<span class="title per-title hua">我语科联</span>
		<span>2015.03.14</span>
		<span class="eye"></span>
		<span class="downLoad"></span>
	</div>
	<footer class="outer-container footer-outer-container">
        <div class="inner-container">
            <div class="links-container">
                <ul>
                    <li>关于</li>
                    <% for (var i = 0; i < data.links.about.length; i++) { %>
                        <li>
                            <a href="<%= data.links.about[i].url %>">
                                <%= data.links.about[i].text %>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <ul>
                    <li>板块</li>
                    <% for (var i = 0; i < data.links.part.length; i++) { %>
                        <li>
                            <a href="<%= data.links.part[i].url %>">
                                <%= data.links.part[i].text %>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <ul>
                    <li>联系</li>
                    <% for (var i = 0; i < data.links.contact.length; i++) { %>
                        <li>
                            <a href="<%= data.links.contact[i].url %>">
                                <%= data.links.contact[i].text %>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <ul>
                    <li>链接</li>
                    <% for (var i = 0; i < 6; i++) { %>
                        <li>
                            <a href="<%= data.links.link[i].url %>">
                                <%= data.links.link[i].text %>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <ul>
                    <li>
                        &nbsp
                    </li>
                    <% for (var i = 6; i < 12; i++) { %>
                        <li>
                            <a href="<%= data.links.link[i].url %>">
                                <%= data.links.link[i].text %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="qrcode-container">
                <div class="qrcode-item">
                    <div class="qrcode"></div>
                    <p class="qrcode-intro">
                        学生科技联合会
                    </p>
                    <p class="qrcode-intro">
                        微信二维码
                    </p>
                </div>
                <div class="qrcode-item">
                    <div class="qrcode"></div>
                    <p class="qrcode-intro">
                        重邮小帮手
                    </p>
                    <p class="qrcode-intro">
                        微信二维码
                    </p>
                </div>
            </div>
            <p class="manage-links">
                <a href="#">内务信息</a>
                <span> | </span>
                <a href="#">后台管理</a>
            </p>
            <p class="manage-links">
                Copyright © SSTU All Rights Reserved  &nbsp&nbsp 重庆邮电大学学生科技联合会版权所有
            </p>
            <p class="manage-links">
                Powered by Redrock Team
            </p>
        </div>
    </footer>
</body>
</html>
